/* Fonts from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Arizonia&family=Inter:wght@100..900&display=swap");

/* Universal styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
}

/* Shared style */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

/* Body Styles */
body {
  background-color: black;
  width: 100%;
  height: 100%;
  color: white;
}

/* Header styles */
header {
  background: linear-gradient(180deg, #111 0%, rgba(119, 119, 119, 0) 100%);
  padding: 55px 190px 75px 190px;
  margin-bottom: 100px;
}

/* Navbar Styles */
.navbar_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 32px;
  max-width: 1060px;
}

.navbar_container h4 {
  color: #e6533c;
  font-size: 2.25rem;
  font-style: italic;
  font-weight: 800;
}
.navbar_container .menu_small {
  display: none;
}

.navbar_container ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 47px;
  padding: 4px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
}

.navbar_container ul li {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 120%;
}

.navbar_container ul li:first-child {
  border-radius: 46px;
  background: #e6533c;
  padding: 8px 20px;
  font-weight: 600;
}

.navbar_container ul li:last-child {
  margin-right: 20px;
}

/* Banner Section Styles */
.banner_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1060px;
  margin: 0 auto;
}

.banner_container .banner_left_container {
  max-width: 520px;
}

.banner_container .banner_left_container h1 {
  font-size: 4.8rem;
  font-weight: 900;
  line-height: 120%;
  margin-bottom: 28px;
}
.banner_container .banner_heading_style {
  font-family: "arizonia";
  font-style: 78px;
  font-weight: 400;
  line-height: 120%;
}

.banner_left_container p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  margin-bottom: 28px;
}

.banner_left_container .header_btn {
  display: flex;
  justify-content: flex-start;
  gap: 14px;
}

.header_btn .header_btn_left {
  background: #e6533c;
  border: none;
  border-radius: 42px;
  padding: 16px 40px;
  width: 224px;
}

.header_btn .header_btn_left a {
  color: #fff;
  font-size: 1.15rem;
  font-weight: 600;
  line-height: 22px;
}

.header_btn .header_btn_right {
  background-color: #111;
  border: 1px solid #fff;
  border-radius: 42px;
  padding: 16px 40px;
  width: 224px;
}

.header_btn .header_btn_right a {
  color: white;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
}

.banner_right_container {
  position: relative;
}

/* Blur content styles */
.blur_video_tut {
  display: flex;

  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(48, 48, 48, 0.54);
  backdrop-filter: blur(10px);
  /* max-width:206px ; */
  padding: 20px 23px 20px 75px;
  display: block;
  position: absolute;
  left: -113px;
  bottom: 63px;
}

.blur_video_tut h5 {
  color: #fafaf9;
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 24px;
  letter-spacing: 0.3px;
  margin-bottom: 8px;
}

.blur_video_tut p {
  color: rgba(239, 237, 232, 0.65);
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.blur_workout_vid {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  max-width: 193px;
  padding: 17px 23px;
  position: absolute;
  top: 125px;
  right: -74px;
}

.blur_workout_vid h5 {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 40px;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.blur_workout_vid p {
  color: rgba(255, 255, 255, 0.65);
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1px;
}

/* Main */
main {
  padding: 0px 190px 0px 190px;
}

/* Habit Section Styles */
.habit_container {
  background: rgb(0, 0, 0);
  text-align: center;
  max-width: 1060px;
  margin: 0 auto;
}

.habit_top {
  margin-bottom: 58px;
}

.habit_top_title {
  font-size: 3rem;
  font-weight: 900;
  line-height: 120%;
  text-align: center;
  margin-bottom: 8px;
}

.habit_top_paragraph {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 0.87rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  margin: 0 auto;
  max-width: 671px;
}

.round_images {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.round_images p {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 0.87rem;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.3px;
  max-width: 230px;
}

.round_images h4 {
  color: #fff;
  font-size: 1.12rem;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 6px;
  margin-top: 26px;
}

.round_images img {
  border-radius: 50%;
}

/* Run Extra Section Styles */
.run_extra_container {
  margin: 0 auto;
  margin-top: 100px;
  max-width: 1060px;
  padding: 30px 32px 29px 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 18px;
  background: #222;
  gap: 165px;
}

.run_extra_left h2 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 120%;
  margin-bottom: 14px;
  max-width: 400px;
}

.run_extra_left p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.87rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  max-width: 443px;
  margin-bottom: 34px;
}

.run_extra_left button {
  border-radius: 42px;
  background: #e6533c;
  width: 224px;
  padding: 16px 40px;
  border: none;
}

.run_extra_left button a {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
}

/* Exercises Section Styles
  .exercises_container{
    width: 1060px;
    margin: 0 auto;
    margin-top: 100px;
  }
  .exercises_container .exercises_title h2{
font-size: 3rem;
font-weight: 900;
line-height: 120%;
margin-bottom: 14px;
  }
  .exercises_container .exercises_title p{
    color: rgba(255, 255, 255, 0.50);
    font-size: .87rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    width: 671px;
    margin-bottom: 58px;
  }
 
  .exercises_container .exercises_cards img{
    width: 353px;
    height: 250px;
  }
  .exercises_container .exercises_cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
  } */

/* Calculator Section Styles */

.calculator_container {
  width: 1060px;
  margin: 0 auto;
  margin-top: 88px;
  padding: 0 208px 0 196px;
}

.calculator_container h2 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 120%;
  margin-bottom: 14px;
}
.calculator_container p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.87rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  margin-bottom: 88px;
}

/*Calculator Chart and Calculate Styles */
.chart_container {
  min-width: 100%;
  padding: 0;
  background: #222;
}
.chart_details_container {
  width: 1060px;
  margin: 0 auto;
  padding-top: 52px;
  padding-bottom: 52px;
}
.chart_details_container {
  display: flex;
}
.chart_details_container .calculate_left h3 {
  font-size: 1.75rem;
  font-weight: 900;
  line-height: 120%;
  margin-bottom: 52px;
}
.chart_details_container table {
  border-collapse: collapse;
}
.chart_details_container table th,
td {
  border: 1px solid rgba(255, 255, 255, 0.1);
  text-align: left;
}
.chart_details_container table th {
  font-size: 1rem;
  font-weight: 500;
  line-height: 120%;
  padding: 15px 27px 14px 18px;
}
.chart_details_container table td {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.87rem;
  font-weight: 400;
  line-height: 120%;
  padding: 15px 20px 14px 23px;
  min-width: 180px;
}

.calculate_right {
  margin-left: 175px;
  display: flex;
  flex-direction: column;
}
.calculate_right h3 {
  font-size: 1.75rem;
  font-weight: 900;
  line-height: 120%;
  margin-bottom: 14px;
}
.calculate_right p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  max-width: 555px;
  margin-bottom: 34px;
}
.calculate_right .height_weight {
  display: flex;
  gap: 12px;
}
.calculate_right .height_weight input {
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  font-weight: 400;
  line-height: 22px;
  padding: 12px 40px 12px 20px;
  border: none;
  border-radius: 8px;
  outline: none;
}
.calculate_right .age_sex {
  margin-top: 12px;
  display: flex;
  gap: 12px;
}
.calculate_right .age_sex input,
select {
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  font-weight: 400;
  line-height: 22px;
  padding: 12px 40px 12px 20px;
  border: none;
  border-radius: 8px;
  outline: none;
  min-width: 243px;
}

.calculate_right .age_sex select {
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  font-weight: 400;
  line-height: 22px;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  outline: none;
  min-width: 256px;
  cursor: pointer;
}

.calculate_right .select_activity select {
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  font-weight: 400;
  line-height: 22px;
  padding: 12px 40px 12px 20px;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 12px;
  min-width: 523px;
}
.calculate_right option {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  font-weight: 400;
  line-height: 22px;
}
.calculate_right select:focus option {
  background: grey;
}
.calculate_btn {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 22px;
  padding: 16px 40px;
  border-radius: 42px;
  background: #e6533c;
  border: none;
  margin-top: 34px;
}
.calculate_btn a {
  color: #fff;
}

/* Teams Section Styles */
.teams_container {
  width: 1060px;
  margin: 0 auto;
  text-align: center;
}
.teams_container .teams_heading h2 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 120%;
  margin-top: 88px;
  margin-bottom: 14px;
}
.teams_container .teams_heading p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  max-width: 671px;
  margin: 0 auto;
  margin-bottom: 58px;
}
.teams_images_container {
  width: 1060px;
  margin: 0 auto;
  padding: 20px;
  gap: 20px;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.1);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 88px;
}
.teams_images_container img {
  width: 327px;
  height: 272px;
  border-radius: 18px;
}
.teams_images_container .img1,
.img2,
.img3,
.img4,
.img5,
.img6 {
  position: relative;
}
.teams_images_container .img_texts {
  position: absolute;
  bottom: 16px;
  left: 19px;
}
.teams_images_container .img_texts h4 {
  text-align: start;
  font-size: 1.25rem;
  font-weight: 900;
  line-height: 120%;
}
.teams_images_container .img_texts p {
  text-align: start;
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 120%;
}

/* Footer Section Styles */

footer {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  padding-bottom: 35px;
  padding-top: 66px;
}
.footer_container {
  width: 1060px;
  margin: 0 auto;
}
.footer_details {
  display: flex;
  margin-bottom: 79px;
}
.footer_details .right {
  display: flex;
  width: 50%;
  gap: 152px;
}
.footer_details .left {
  width: 50%;
}
.footer_details .left h2 {
  color: #e6533c;
  font-size: 4.375rem;
  font-style: italic;
  font-weight: 800;
  line-height: 120%;
  margin-bottom: 20px;
}
.footer_details .left p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  max-width: 443px;
}
.footer_details .right .list_items ul li {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.44rem;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 20px;
}
.footer_details .right .list_items .get_started {
  font-size: 2rem;
  color: #ffff;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 39px;
}

.footer_container .horizontal_line {
  width: 1060px;
  margin: 0 auto;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.footer_container .footer_caption p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: center;
  margin-top: 36px;
}



/* Responsive for Mobile */
@media screen and (max-width: 575.98px) {
  header {
    padding: 50px 20px;
  }
  .navbar_container {
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
    margin: 0px 0px 50px 20px;
  }

  .navbar_container ul {
    display: none;
  }
  .navbar_container .menu_small {
    display: block;
  }

  /* Banner responsive */
  .banner_container {
    flex-direction: column;
    padding-left: 20px;
    margin: 0px;
    align-items: start;
  }
  .banner_left_container {
    max-width: 100%;
  }
  .banner_container .banner_left_container h1 {
    font-size: 2rem;
    max-width: 50%;
  }
  .banner_left_container p {
    gap: 5px;
    width: 274px;
  }
  .header_btn {
    max-width: 100%;
  }
  .header_btn_left,
  .header_btn_right {
    max-width: 169px;
  }
  .header_btn .header_btn_right {
    padding: 16px 20px;
  }
  .header_btn .header_btn_left {
    padding: 16px 15px;
  }
  .blur_workout_vid {
    top: 47px;
    right: -25px;
  }

  .blur_video_tut {
    bottom: 150px;
    left: 12px;
  }

  /* habit responsive */
  .habit_container {
    padding: 0px;
    text-align: center;
    margin: 0 auto;
  }
  main {
    padding: 0px 20px;
  }
  .round_images {
    flex-direction: column;
    align-items: center;
    margin-bottom: 66px;
  }

  /* Run Extra Responsive */
  .run_extra_container {
    padding: 30px 33px 35px 33px;
    flex-direction: column;
    align-items: center;
    gap: 31px;
    margin-bottom: 66px;
  }
  .run_extra_container .run_extra_left button {
    margin: 0 auto;
    width: 287px;
    padding: 16px 40px;
    margin-left: 10px;
  }
  .run_extra_right img {
    width: 287px;
  }

  /* Chart Details Responsive */
  .chart_details_container {
    flex-direction: column;
    padding-left: 20px;
  }
  .calculate_right {
    margin-top: 42px;
    margin-left: 0;
  }
  .calculator_container {
    padding: 0;
    width: auto;
  }
  .calculator_container h2 {
    font-size: 2rem;
  }
  .calculator_container p {
    width: 353px;
  }
  .chart_details_container {
    width: auto;
  }
  .chart_details_container .calculate_left h3 {
    font-size: 1rem;
  }
  .calculate_right h3 {
    font-size: 1rem;
  }
  .calculate_right p {
    max-width: 346px;
  }
  .calculate_right .height_weight input {
    width: 187px;
  }
  .calculate_right .age_sex input,
  select {
    min-width: 0;
    width: 187px;
  }
  .calculate_right .age_sex select {
    min-width: 0;
  }
  .calculate_right .select_activity select {
    min-width: 0;
    width: 387px;
  }
  .select_activity {
    display: flex;
    flex-direction: column;
  }
  .calculate_btn {
    width: 224px;
  }

/* teams responsive */
  .teams_container {
    width: 383px;
    margin: 0 auto;
    padding: 0;
  }
  .teams_container .teams_heading h2 {
    margin: 0;
    margin: 0 auto;
    margin-top: 66px;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 14px;
  }
  .teams_container .teams_heading p {
    margin: 0;
    text-align: center;
    margin-bottom: 27px;
  }
  .teams_images_container {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }
  .teams_images_container img {
    width: 100%;
  }


  /* Footer Responsive */
  .footer_container {
    width: auto;
  }
  .footer_details {
    flex-direction: column;
    padding: 0 20px;
  }
  .footer_details .left {
    width: 100%;
    margin-bottom: 30px;
  }
  .footer_details .right {
    flex-direction: column;
  }
  .footer_container .horizontal_line {
    width: 90%;
    padding: 0 20px;
  }
  .footer_details .right {
    width: 100%;
    gap: 20px;
  }
  .footer_details {
    margin-bottom: 72px;
  }
  .footer_container .footer_caption p {
    text-align: left;
    padding-left: 20px;
  }
}





/******************* Medium Devices Responsive *********************/

@media (min-width: 768px) and (max-width: 991.98) { 

 }